.data-div input {
    margin-top: 8px;
    width: 25%;
    height: 30px;
    margin-bottom: 8px;
}

.data-div textarea {
    width: 25%;
    height: 80px;
}

.task-div form button {
    width: 26%;
    height: 35px;
    background-color: #101042;
    color: white;
    border: none;
    margin: 8px;

}

.task-div input:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.checkmark {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}