table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin-top: 20px;
    width: 90%;
    /* height: 500px; */
    /* margin-left: 50px; */
    /* border: 1px solid blue; */



}

td,
th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}