.dashboard {
    display: grid;
    grid-template-columns: 15% auto;
    height: 100vh;
}

.dashboard-menu {
    background-color: #101042;
}

.dashboard-menu a {
    /* margin-top: 35px; */
    color: white;
    text-decoration: none;

}