.navbar {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    background-color: #101042;

}

.navbar a {
    text-decoration: none;
    color: wheat;
}

button {
    width: 80px;
    height: 30px;
    background-color: teal;
    color: white;
    border: 3px solid white;
    border-radius: 5px;
}

button:hover {
    background-color: red;
    transition: 300ms;
    cursor: pointer;
}